.main-page {
    background: url('https://i.pinimg.com/originals/7b/2e/f4/7b2ef4133654cb9e3a53faaacebe0c6c.jpg') no-repeat center center fixed;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    margin: 40px auto;
    background: #fff;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    opacity: 0.90;
}
textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: 2px dashed #818181;
}
input[type="file"] {
    margin-bottom: 10px;
}
.scroll-box {
    width: 100%;
    height: 120px;
    overflow-y: auto;
    background: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 16px;
    font-size: 15px;
    border-radius: 15px;
    white-space: pre-wrap;
}
.button-predict {
    padding: 10px 18px;
    font-size: 16px;
    background: #1976d2;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.button-predict:hover {
    background: #1565c0;
}
.button-ok {
    padding: 10px 18px;
    font-size: 16px;
    background: #1976d2;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.button-ok:hover {
    background: #1565c0;
}
.button-clear-file {
    padding: 4px 4px;
    font-size: 13px;
    background: #7e7e7e;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.button-clear-file:hover {
    background: #691111;
}
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0; top: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
}
.modal-content {
    width: 70%;
    max-width: 500px;
    min-width: 320px;
    margin: 6% auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
}
.close {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 22px;
    cursor: pointer;
}
.custom-file-label {
    display: inline-block;
    padding: 8px 18px;
    font-size: 14px;
    background: #1976d2;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background 0.2s;
    opacity: 1;
}
.custom-file-label:hover {
    background: #1565c0;
}